<div class="container">
  <h1>Welcome to Flash Card Game!</h1>
  <p>login? <%= session[:logindata] %></p>
  <p><a href="/">Home</a> | <a href="/play">Select Deck</a></p>
  <p>Are you ready?</p>
  <p><a href='/play/deck/<%=@thedeck%>/1'>click here to start</a></p>

</div>