<div class="container">
  <h1>Welcome to Flash Card Game!</h1>
  <p>login? <%= session[:logindata] %></p>
  <p></p>
  <p>Choose deck</p>
  <p><a href="/play/deck/1">Deck 1 (English-Malay)</a></p>
  <p><a href="#">Deck 2 (English-Malay)</a></p>
  <p><a href="#">Deck 3 (English-Malay)</a></p>


</div>
