<div class="container">
  <h1>Results</h1>
  <p>login? <%= session[:logindata] %></p>
  <p><a href="/">Home</a> | <a href="/play">Play</a></p>
  <p></p>

  <table style="width:100%">
    <tr>
      <th>Round no.</th>
      <th>Correct</th>
      <th>Wrong</th>
    </tr>
    <% @rounds.each do |x| %>
    <tr>
      <td><%= x.id %></td>
      <td><%= Guess.where(round_id: x.id).where(correct: "Yes").count %></td>
      <td><%= Guess.where(round_id: x.id).where(correct: "No").count %></td>
    </tr>
    <% end %>
  </table>






</div>
